name: Update Dependencies

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 12 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'pnpm'
    - run: |
        pnpm update -r --latest

    - name: PR
      uses: technote-space/create-pr-action@v2
      with:
        COMMIT_MESSAGE: Updated dependencies
        PR_BRANCH_NAME: automatic_dependency_updates
        PR_TITLE: Update dependencies
        PR_BODY: Automatic `pnpm update` based dependencies update
